body {
    margin: 0;
    padding: 0; 
    
    font-family: 'Cuprum', Arilal, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    background-color: #ffffff;
    color: #000000;
}
header > * {
    outline: 2px solid deeppink;
}
header > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
header > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}

.header-wrapper {
    margin: 0 auto;
    width: 940px;
}

/* сетки */ 

a {
    text-decoration: none;
}

ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*user menu*/

.main-header{
    min-height: 320px;
    font-family: 'Cuprum', Arial, sans-serif;
    background-color: #f4f7f9;
    color: #ee3643;
}

.user-header {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    background-color: #293449;
}

.user-navigation{
    display: flex;
}
/* Вопрос, можно ли использовать rgba и color в одном CSS */

main > * {
    outline: 2px solid deeppink;
}
main > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
main > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}

.main-header-logo {
    display: block;
    width: 110px;
    padding: 13px 55px 3px 55px;

    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643; 
}

.main-header-logo:hover {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ca2c37;
}

.main-header-logo:active {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ba2732;
}

.search-clearfix {
    position: relative;
    margin: 0 auto 0 0;
    padding: 0;
}

.search-clearfix svg {
    position: absolute;
    left: 17px;
    top: 12px;
    width: 17px; 
    height: 17px;
    opacity: 0.3;
}

.search {
    border: 0;
    width: 270px;
    height: 42px; 
    padding-left: 49px;
    background-color: #293449;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    
 }

.search:hover{
    background-color: #212a3a;
}

.search:hover + svg,
.search:focus + svg {
    opacity: 1;
}

.search:focus ~ svg > path {
    fill: #ee3643;
}

.search:focus {
    color: #000000;
    outline: none;
    background-color: #ffffff;
}

.search::placeholder {
    color: #ffffff;
}

.user-header__link {
    position: relative;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
}

.bookmaker__link {
    padding: 12px 31px 12px 45px;
}

.bookmaker__link:hover {
    background-color: #212a3a
}

.bookmaker__link::before {
    position: absolute;
}

.cart__link {
    padding: 12px 31px 12px 45px;
}

.cart__link:hover {
    background-color: #212a3a
}

.cart__link::before {
    position: absolute;
}

.order__link {
    padding: 12px 21px;
    background-color: #63a63e;
}

.order__link:hover {
    background-color: #5fbb2d;
}

.order__link::before {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

/*contacts & main title */

.info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-left: 52px;
}

.header-info-block p {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding-top: 46px;
    color: #ee3643;
}

.top-info__contacts {
    margin-left: 40px;
}

.top-info__contacts, .user-block-top-clearfix {
    padding-top: 46px;
}

.top-info__contacts .phone{
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 7.5px 50px 7.5px 71px;
    color: #e9292a;
    background-repeat: no-repeat;
    background-position: 13px, 50%;
}

.top-info__contacts p {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
    margin: 0;
}

.top-info__adress {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: #32425c;
    margin: 0;
    padding-left: 12px;
    padding-top: 3px;
}

.user-block {
    margin-left: 53px;
    margin-top: 48px;
}

.user-block-top {
    display: flex;
    align-items: center;
    min-width: 299px;
    margin: 0;
    padding-top: 11px;
    padding-bottom: 12px;

    background-color: #ffffff;
    outline: none;
}

.user-block a {
    font-size: 21px;
    font-style: normal;
    line-height:18px;
    color: #000000;
}

.user-block-order-link,
.user-profile-link {
    vertical-align: middle;
    margin-top: 5px;

    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;

}

/* main navigation стили */

.main-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 rgb(41,52,73);
    margin-top: 30px;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    padding: 19px 30.3px;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: #8e939c;
    background-color: #1d2739;
}

/*
.page-content{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
*/

.conteiner {
    width: 940px;
    margin: auto;
}

.inner-page {
    width: 940px;
    margin: auto;
}

.breadcrumbs {
    margin-top: 21px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}
.breadcrumbs-item {
    color: #000000
} 

.page-title {
    margin: 19px 0 20px;
    padding: 30px 0 30px 32px; 

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex; 
}

.filter-brands div {
    display: block;
    border: none;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter-title {
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    
    text-transform: uppercase;
    color: #000000;
}

.filter-brands label,
.filter-supply label {
    
    font-family: inherit;
    font-size: 15px;
    text-transform: uppercase;
}

.catalog-galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;

    background-color: #ffffff;
    color: #000000;
}

.catalog-galery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    
    list-style: none;
}

.product-card {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: #ffffff;
}

.main-footer {
    width: 100%;

    background-color: #32425c;
    color: #ffffff;
}

/*About Us */
.about-us {
    display: flex;
    justify-content: space-between;
    margin: 82px auto 86px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about-us-menu {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-us-map {
    width: 320px;
}

.about-us h2 {
    margin: 0 0 29px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-us-menu p {
    margin: 0 0 23px;
    word-wrap: break-word;
}

.about-us ul {
    margin: 0 0 37px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.about-us li:not(:last-child) {
    padding-bottom: 20px;
}

.about-us li::before {
    position: absolute;
    margin-left: -30px;
    color: #ee3643;
}

.button-about, 
.write-us {
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; 
    color: #ffffff;
    outline: none;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.button-about {
    padding: 7px 0;
    width: 220px;
}

.write-us {
    padding: 7px 0;
    width: 300px;
}

/* Main Footer */


.main-footer > * {
    outline: 2px solid deeppink;
}
.main-footer > * > * {
    outline: 2px dashed lime;
    outline-offset: -2px;
}
.main-footer > * > * > * {
    outline: 2px dotted dodgerblue;
    outline-offset: -4px;
}


.footer-top-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: auto; 
    padding-bottom: 49px;
}

.logo-block {
    width: 220px;
    height: 68px;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
}

.footer-navigation-top, .catalog-navigation-top {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.footer-navigation-top a {
    color: #f3f7f9;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
}

.catalog-navigation-top a {
    color: #ffd180;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
}
/* стили подвала */

.copyright  {
    width: 100%;
    background-color: #293449;
}

.copyright__wrapper {
    display: flex;
    position: relative;

    justify-content: space-between;
    width: 940px;
    margin: auto; 
  
}


.copyright p { 
    display: flex;
    justify-content: space-around;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;

    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.developers {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
    color: #ffd180;
}

.developers-title {
    color: #ffffff;
}
/* pop ups */

.modal > * {
    display: none;
}

.full-map > * {
    display: none;
}

