body {
    margin: 0;
    padding: 0; 
    
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    background-color: #ffffff;
    color: #000000;
}

.header-wrapper {
    margin: 0 auto;
    width: 940px;
}

/* сетки */ 

a {
    text-decoration: none;
}

ul { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*user menu*/

.main-header{
    min-height: 320px;
    font-family: 'Cuprum', Arial, sans-serif;
    background-color: #f4f7f9;
    color: #ee3643;
}

.user-header {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    background-color: #293449;
}

.user-navigation{
    display: flex;
}
/* Вопрос, можно ли использовать rgba и color в одном CSS */


.main-header-logo {
    display: inline-block;
    position: relative;
    padding: 13px 55px 3px 55px;
    background-color: #ee3643; 
}

.main-header-logo::before {
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 0;
    background-color: #ba2732;

}

.main-header-logo:hover {
    background-color: #ca2c37;
}

.main-header-logo:active {
    background-color: #ba2732;
}

.search-clearfix {
    position: relative;
    margin: 0 auto 0 0;
    padding: 0;
}

.search-clearfix svg {
    position: absolute;
    left: 17px;
    top: 12px;
    width: 17px; 
    height: 17px;
    opacity: 0.3;
}

.search {
    border: 0;
    width: 270px;
    height: 42px; 
    padding-left: 49px;
    background-color: #293449;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    
 }

.search:hover{
    background-color: #212a3a;
}

.search:hover + svg,
.search:focus + svg {
    opacity: 1;
}

.search:focus ~ svg > path {
    fill: #ee3643;
}

.search:focus {
    color: #000000;
    outline: none;
    background-color: #ffffff;
}

.search::placeholder {
    color: #ffffff;
}

.user-header__link {
    position: relative;
    font-family: inherit;
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
}

.bookmaker__link {
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 17px, 50%;
    box-sizing: border-box;
    padding: 12px 31px 12px 45px;
}

.bookmaker__link:hover {

    background-image: url(../img/icon-bookmark-hover.svg);
}

.bookmaker__link:active {
    background-color: #161d29;
    background-image: url(../img/icon-bookmark-active.svg);
}

.cart__link {
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 18px, 50%;
    padding: 12px 31px 12px 45px;
    box-sizing: border-box;
}

.cart__link:hover {

    background-image: url(../img/icon-cart-hover.svg);
}

.cart__link:active {
    background-color: #161d29;
    background-image: url(../img/icon-cart-active.svg);
}

.cart__link__active {
    background-image: url(../img/icon-cart-catalog.svg);
    background-color: #ee3643;
    background-repeat: no-repeat;
    background-position: 18px, 50%;
    padding: 12px 31px 12px 45px;
    box-sizing: border-box;
}

.order__link {
    padding: 12px 21px;
    background-color: #63a63e;
}

.order__link:hover {
    background-color: #5fbb2d;
}

.order__link::before {
    color: rgba(255, 255, 255, 0.5);
    background-color: #518534;
}

.info {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: 49px auto;
    margin-left: 52px;
}

.header-info-block p {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 23px;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    color: #ee3643;
}

.top-info__contacts {
    display: block;
    margin-left: 40px;
}

.top-info__contacts 
.phone {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    border: 3px solid #ffffff;
    padding: 7.5px 50px 7.5px 71px;
    background-image: url(../img/icon-phone.svg);
    color: #e9292a;
    background-repeat: no-repeat;
    background-position: 13px, 50%;
}

.top-info__contacts p {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    text-align: center;
    margin: 0;
}

.top-info__adress {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-style: normal;
    color: #32425c;
    padding-left: 12px;
    margin: 10px auto;
}

.user-block ul {
    display: flex;
}

.login a,
.registration a {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
}

.login a {
    background-image: url(../img/icon-login.1.svg);
    background-repeat: no-repeat;
    background-position: 14px, 50%;
    padding: 10px 27px 10px 47px;
    margin-right: 7px;
}

.registration a {
    padding: 10px 26px 11px 24px;
}

.login a:hover {
    color: #ee3643;
    background-image: url(../img/icon-login.2.svg);
}

.login a:active {
    color: #c5c5c5;
    background-image: url(../img/icon-login.svg);
}

.registration a:hover {
    color: #ee3643;
}

.registration a:active {
    color: #c5c5c5;
}

.user-block-top 
.profile-link {
    display: block;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
    background-color: #ffffff;
    padding: 11px 68px 11px 49px;
    background-image: url(../img/icon-user.svg);
    background-repeat: no-repeat;
    background-position: 13px, 13px;
}

.profile-link-autorisation {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.profile-link:hover {
background-image: url(../img/icon-user.1.svg);
}

.profile-link:active {
    color: #c5c5c5;
    background-image: url(../img/icon-user.2.svg);
}

.order {
    padding-left: 16px;
}

.account {
    margin-left: 30px;
}

.account a:hover, 
.order a:hover {
    color: #ee3643;

}

.account a:active, 
.order a:active {
    color: #b2b2b2;
}

.account a, 
.order a {
    color: #32425c;
}

.account, 
.order {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;
    padding-top: 10px; 
}

/* main navigation стили */

.main-navigation {
    background-color: #32425c;
    margin-top: 38px;
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.main-navigation a {
    display: block;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    padding: 19px 30.3px;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: #8e939c;
    background-color: #1d2739;
}

.conteiner {
    width: 940px;
    margin: auto;
}

.inner-page {
    width: 940px;
    margin: auto;
}

.breadcrumbs {
    margin-top: 19px;
}

.breadcrumbs-item span {
    display: none;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle;

    
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}
.breadcrumbs a {
    color: #000000;
}

.breadcrumbs .icon-home {
    width: 14px;
    height: 12px;

    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;

    background-image: url(../img/icon-home.svg);
    background-repeat: no-repeat;
}

.breadcrumbs-link::before {
    position: absolute;
    left:-22px;
    bottom: 5px;
    content: "";
    width: 8px;
    height: 12px;
  
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
  }

.breadcrumbs-link {
    position: relative;
    margin-left: 36px; 
}

.page-title {
    margin: 19px 0 20px;
    padding: 30px 0 30px 32px; 

    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog-columns {
    display: flex; 
}

.filter-brands div {
    display: block;

    font-family: 'PT Sans Bold', Arial, sans-serif;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.filter-brands h3 {
    font-family: inherit;
    font-size: 17px;
    font-weight: bold;
    
    text-transform: uppercase;
    color: #000000;
}
.filter-brands,
.filter-supply {
    border: none;
}

.filter-brands label,
.filter-supply label {
    padding-left: 35px;
    position: relative;
    cursor: pointer;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filter-brands input, 
.filter-supply input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect( 0 0 0 0);
    overflow: hidden;
}

.filter-brands label::before{
    content: "";
    position: absolute;
    left: 0;
    width: 23px;
    height: 23px;

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
}

.filer-brands-checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 27px;
    height: 23px;

    background-image: url(../img/checkbox-on.svg);
    background-repeat: no-repeat;
}

.filter-supply label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
  
    background-image: url(../img/radio-off.svg);
    background-repeat: no-repeat;
  }
  
  .filter-supply-radio:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 25px;
    height: 25px;
  
    background-image: url(../img/radio-on.svg);
    background-repeat: no-repeat;
  }

  .filters label::before {
    opacity: 0.7;
  }
  
  .filters label:hover::before,
  .filters label:focus::before {
    opacity: 1;
  }
  
  .filters label:disabled::before {
    opacity: 0.3;
  }

  .catalog-btn {
      padding: 10px 38px 8px;
      margin-top: 61px;

      font-family: 'PT Sans', Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      text-transform: uppercase;
      color: #000000;
      cursor: pointer;

      border: 1px solid #e5e5e5;
      border-radius: 3px;
      background-color: #ffffff;
  }

.catalog-galery {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;

    background-color: #ffffff;
    color: #000000;
}

.catalog-galery {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
}

.product-card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 220px;
    margin-top: 19px;
    padding-bottom: 20px;
    margin-right: 20px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-align: center;

    background-color: #ffffff;
    border: 1px solid #eaeaea;
}

.product-card:hover,
.product-card:focus {
    box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product-card-titel {
    width: 190px;
    margin: 12px 0 40px;

    font-size: 18px;
    line-height: 20px;
    color: #000000;
    word-wrap: break-word;
}

.product-card-discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #999;
    text-decoration: line-through;
}

.product-card-price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.product-card-price:after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    width: 0;
    height: 0;
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

.product-card .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    
    width: 60px;
    height: 60px;
    
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}

.product-card .flag-new {
    background: url(../img/new-flag.png) no-repeat 0 0;
}

.product-card-actions {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 218px;
    height: 88px;
    padding: 40px 0;
    
    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.product-card-actions .icon-basket,
.product-card-actions .bookmark-button {
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;
    
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Cuprum', sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.product-card-actions .bookmark-button {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
  
.product-card-actions {
    display: none;
  }
  
  .product-card:hover .product-card-actions {
    display: block;
  }
  
  .product-card-actions {
    display: none;
  }
  

.product-card-image {
    width: 218px;
    height: 168px;
}

.product-card-image img {
    max-width: 100%;
}

.pagination {
    margin-top: 48px;
    margin-bottom: 61px;
}

.pagination-item {
    display: inline-block;
    vertical-align: middle;
    padding: 9px 14px 9px 15px;
    margin-right: 6px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;

    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #ffffff;
}

.pagination-item-next {
    padding: 9px 30px;

    text-transform: uppercase;
}

.pagination-item-current {
    color: #ffffff;

    border: 1px solid #ee3643;
    background-color: #ee3643;
}

/* filters buttons*/

.pagination-item:hover,
.pagination-item:focus {
    border: 1px solid #bdc6ca;
}

.pagination-item:active {
    border: 1px solid #ee3643;
}



.main-footer {
    width: 100%;

    background-color: #32425c;
    color: #ffffff;
}
/* сервисы slaider info */

.services {
    width: auto;
    justify-content: space-between;
}

.service-slider-list {
    width: 620px;
    display: flex;
}

.services {
    background-color: #f4f8f9;
    min-height: 400px;
}

.service-title h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.services-title {
    width: 400px;
}

.service-slider-buttons {
    list-style: none;
    position: relative;
    width: 240px;
    margin: 0;
    padding: 0;
}

.sevice-btn:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 272px;
    background-image: url(../img/btn-main-services.png);
    background-repeat: no-repeat;
    left: 230px;
    bottom: 50px;
}

.service-btn button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color: #32425c;
    display: block;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    
    border: none;
    border-top: 1px solid #405069;
    border-bottom: 1px solid #293449;
    width: 240px;
}

.btn-hover:hover {
    color: #ffffff;
    background-color: #293449;
    border: 1px solid #293449;
    border-left: none; 
    border-right: none;
}

.service-btn .btn-checked {
    color: #32425c;
    background-color: #ffffff;
    border: 1px solid #ffffff;
}

.service-slider-info {
    min-height: 281px;
    margin-left: 80px;
}


.service-slider-info h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;
    margin: 0;
}

.service-item {
    display: none;
}

.service-slider-info p {
    width: 278px;
}


/*About Us */
.about-us {
    display: flex;
    justify-content: space-between;
    margin: 82px auto 86px;

    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.about-us-menu {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about-us-map {
    width: 320px;
}

.about-us h2 {
    margin: 0 0 29px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.about-us-menu p {
    margin: 0 0 23px;
    word-wrap: break-word;
}


.about-us ul {
    margin: 0 0 37px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.about-us li {
    margin-left: 32px;
}

.about-us li:not(:last-child) {
    padding-bottom: 20px;
}

.about-us .partners-item {
    position: relative;
}

.about-us .partners-item::before {
    display: block;
    margin-top: 8px;
    content: " ";
    width: 25px;
    height: 2px;
    position: absolute;
    left: -36px;
    background-color: #ee3643;
}

.about-us-map {
    width: 180px;
    margin-right: 120px;
}

.about-us-map img {
    margin-top: 20px;
}

.about-us-map button {
    padding: 10.5px 0 10.5px 0;
    text-align: center;
    margin-top: 30px;
}

.button-about, 
.write-us {
    display: inline-block;
    padding-top: 11px;
    padding-bottom: 11px;

    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; 
    color: #ffffff;
    outline: none;

    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.button-about {
    padding: 7px 0;
    width: 220px;
}

.write-us {
    padding: 9px 0;
    margin-top: 40px;
    width: 300px;
}

/* Main Footer */


.main-footer {
    height: 193px;
}

.footer-top-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: auto; 
    padding-bottom: 49px;
}

.logo-block {
    text-align: center;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ee3643;
    display: inline-block;
    padding: 19px 41px 15px 41px;
    margin: 0px;
}

.logo-block:hover {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ca2c37;
}

.logo-block:active {
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
    background-color: #ba2732;
}

.footer-contacts {
    width: 326px;
    margin-top: 32px;
    padding-left: 3px;
}

.footer-contacts p {
    width: 326px;
    height: 40px;
    font-family: 'Cuprum';
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
}

.footer-navigation {
    line-height: 24px;
    padding-top: 40px;
    width: 540px;
}

.footer-navigation ul:last-child {
    padding-top: 35px;
}

.footer-navigation-top, 
.catalog-navigation-top {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.catalog-navigation-top li:first-child {
    padding-left: 23px;
}

.footer-navigation-top a {
    color: #f3f7f9;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;

}

.catalog-navigation-top a {
    color: #ffd180;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;

}
/* стили подвала */

.copyright__wrapper {
    display: flex;
    justify-content: center;
    height: 107px;
    background-color: #293449;
}

.copyright__wrapper__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px auto;

    width: 940px;
}


.copyright-info p { 
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    margin: 0px auto;
    line-height: 1.13;
}

.social {
    display: flex;
    flex-wrap: wrap;
    margin-left: 160px;
}

.social a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #212a3a;
}

.social a:hover, 
.social a:active {
    background: #ee3643;
}

.social a:first-child {
    background-image: url(../img/icon-vk.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social a:nth-child(2) {
    background-image: url(../img/icon-fb.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.social a:last-child {
    background-image: url(../img/icon-insta.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.feedback {
    display: flex;
    justify-content: space-around;
}

.feedback p {
    margin: 0;
}

.feedback-info {
    margin-left: 118px;
}

.developed-info {
    margin-left: 54px;
}

.feedback-info p,
.developed-info p {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    line-height: 1.13;
    text-decoration: none; 
}
.feedback-info a, 
.developed-info a {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.13;
    letter-spacing: normal;
    text-align: left;
    color: #ffd180;
    text-decoration: none; 
}

.feedback-info a:hover, 
.developed-info a:hover {
    text-decoration: underline;    
}

.feedback-info a:active, 
.developed-info a:active {
    color: rgb(238,54,67);
    text-decoration: none;    
}
/* pop ups */


.modal-basket {
    position: relative;
    margin: 63px 10px 70px 178px;
    font-size: 30px;
    font-weight: 400;
    color: #000000;
}
/*

.modal-write-us > * {
    display: none;
}
*/
.full-map > * {
    display: none;
}

.modal-write-us {
    font-family: 'Cuprum', "Arial", sans-serif;
    box-shadow: inset 0 7px 0 0 #ff5357, 
    0 20px 60px -2px black;
    width: 620px;
    margin: 0 auto;
    background-color: #ffffff;
    position: fixed;
    top: 30%;
    left: 35%;
    display: none;
}


